[user]
	name = Niklas Koep
	email = niklas.koep@gmail.com
[core]
	excludesfile = ~/.gitexcludes
[alias]
	st = status
	st2 = status -sb
	co = checkout
	br = branch
	lg = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
	taglist = log --tags --simplify-by-decoration --pretty=\"format:%ai %d\"
	amend = commit --amend -c HEAD
	rev = rev-parse --short
	ds = diff --staged
	ph = push origin HEAD
