@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/**********************/
/* MISC CRAP REMOVALS */
/**********************/

/* Remove throbber */
#throbber-box
{
	display: none !important
}

/* Remove the Bookmark Star */
#star-button
{
	display: none !important
}

/* Remove Go button from address bar */
#go-button-stack, .search-go-button-stack
{
	display: none !important
}

/* Remove Home button */
#home-button
{
	display: none !important
}

/* Remove favicons */
.bookmark-item > .toolbarbutton-icon
{
	display: none !important
}
.bookmark-item > .menu-iconic-left > .menu-iconic-icon
{
	display: none !important
}

/* Don't display menu icons in the Tools menu */
menu[label="Tools"] menuitem
{
	list-style-image: none !important
}

/* Remove drop marker in url bar */
#urlbar > dropmarker
{
	display: none !important
}

/* Remove RSS symbol from url bar */
textbox#urlbar #feed-button, #search-view
{
	display: none !important
}
#livemark-button
{
	display: none !important;
}

/* remove 'Show Password' button from Password Manager */
#togglePasswords
{
	display: none;
}

#nav-bar
{
	background-image: none !important
}


/****************/
/* MISC CHANGES */
/****************/

/* Change colour of the 'Menu' */
#main-menubar
{
	background-image: none !important;
	background-color: #f9f9f9 !important;
	color: #f9f9f9 !important;
}

#main-menubar[_moz-menuactive="true"]
{
	background-image: none !important;
	background-color: #f9f9f9 !important;
	color: #f9f9f9 !important;
}

/* Change colour of favicon placeholder in urlbar */
#page-proxy-stack
{
	display: none !important
}

#identity-box
{
	background-image: none !important;
	background-color: #f9f9f9 !important;
	-moz-border-right-colors: #f9f9f9 !important;
}

toolbar
{
	border-bottom: none !important;
	background-image: none !important;
	background-color: #f9f9f9 !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
}

#toolbar-menubar
{
	border-bottom: none !important;
	background-image: none !important;
	background-color: #f9f9f9 !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
}

#navigator-toolbox
{
	border-bottom: none !important;
	background-image: none !important;
	background-color: #f9f9f9 !important;
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
}

/* Change background color of the urlbar */
#urlbar
{
	-moz-appearance: none !important;
	-moz-border-top-colors: #f9f9f9 !important;
	-moz-border-bottom-colors: #f9f9f9 !important;
	-moz-border-left-colors: #f9f9f9 !important;
	-moz-border-right-colors: #f9f9f9 !important;
	background-image: none !important;
	background-color: #f9f9f9 !important;
	color: #101010 !important;
	font-family: Zegoe UI - U;
	font-size: 11px;
}

#urlbar .autocomplete-textbox[placeholder="Go to a Web Site"]
{
	color: transparent !important;
}

#urlbar-container
{
	background-color: #f9f9f9 !important;
}

#urlbar[pageproxystate="valid"] > #urlbar-icons > #go-button
{
	visibility: hidden !important;
}

#urlbar[pageproxystate="invalid"] > #urlbar-icons > #go-button
{
	visibility: hidden !important;
}


/***************/
/* TAB RELATED */
/***************/

/* Remove "list all tabs" button on the right */
.tabs-container > stack
{
	display: none !important
}

/* Remove tab icon */
.tabbrowser-tabs .tab-icon-image
{
	max-height: 0px !important;
	max-width: 0px !important;
}

/* Remove new tab button */
.tabs-newtab-button
{
	display: none !important
}

/* Remove tab close button */
.tabbrowser-tabs .tabs-closebutton
{
	display: none !important
}
.tabbrowser-tabs tab .tab-close-button
{
	display: none !important
}

/* Change colour of active tab */
.tabbrowser-tabs[selected="true"]
{
	background-color: #101010 !important;
	color: #a51f1c !important;
	font-family: Zegoe UI - U;
	font-size: 11px;
	font-weight: normal !important
}

/* Change colour of normal tabs */
.tabbrowser-tabs:not([selected="true"])
{
	background-image: none !important;
	background-color: #f9f9f9 !important;
	color: #101010 !important;
}

/* Remove round edges of tabs */
.tabbrowser-tab[selected="true"]
{
	background: black !important;
	color: #a51f1c !important;
	border-radius: 0 !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	height: 24px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
	border-bottom: none !important;
	border: none !important;
	background-image: none !important;
	background-color: #101010 !important;
	padding-bottom: 0px !important;
}

.tabbrowser-tab
{
	background: black !important;
	border-radius: 0 !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-topright: 0px !important;
	height: 24px !important;
	margin: 0px 0px 0px 0px !important;
	padding: 0px !important;
	padding-left: 4px !important;
	padding-right: 4px !important;
	border-bottom: none !important;
	border: none !important;
	background-image: none !important;
	background-color: #f9f9f9 !important;
	padding-bottom: 0px !important;
}

/* set border color of tabs */
.tabbrowser-tabs
{
	-moz-border-top-colors: #f9f9f9 !important;
	-moz-border-bottom-colors: #f9f9f9 !important;
	-moz-border-left-colors: #f9f9f9 !important;
	-moz-border-right-colors: #f9f9f9 !important;
	padding-left: 7px !important;
}


#TabsToolbar
{
	background-image: none !important;
}

