/* Reduce tab height and add some padding */
#tabbrowser-tabs {
  --tab-min-height: 18px !important;
  font-size: 11pt;
  height: 28px !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
}

/* Remove vertical dividing lines */
.tabbrowser-tab:not([selected])::after {
  display: none !important;
}

/* Add a gap above and on the sides */
.tabbrowser-tab:not([selected]) {
  padding: 0px 1px 0 0 !important;
  border: none !important;
}

/* Change tab background color */
.tabbrowser-tab .tab-background {
  background-color: #dedede !important;
}
.tabbrowser-tab:not([selected]) .tab-background {
  background-color: #bfbfbf !important;
}

/* Change tab label color */
.tabbrowser-tab .tab-label {
  color: #616161 !important;
}

/* Remove color line indicator for active tab */
.tab-line {
  display: none !important;
}

/*****************************************************************************
 * Change tab close button color
 *****************************************************************************/

.tab-close-button {
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: 25px;
  color: #616161 !important;
}

/*****************************************************************************
 * Remove circle around back button
 *****************************************************************************/

/* Remove back button */
:root:not([uidensity="compact"]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: unset !important;
  padding: var(--toolbarbutton-inner-padding) !important;
  border-radius: var(--toolbarbutton-border-radius) !important;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px) !important;
}

/* Hover and Active states to mimic other buttons */
:root:not([uidensity="compact"]) #back-button:hover:not([disabled]) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-hover-background) !important;
}

:root:not([uidensity="compact"]) #back-button:active:not([disabled]) > .toolbarbutton-icon {
  background-color: var(--toolbarbutton-active-background) !important;
}

/*****************************************************************************
 * Remove tab borders
 *****************************************************************************/

/* Remove pre-padding */
:root:not([uidensity="compact"]) #back-button {
  padding-inline-start: 3px !important;
}

:root {
  --toolbarbutton-border-radius: 3px !important;
}

:root {
  --tabs-border: transparent !important;
}
